<div class="grid items-center justify-center gap-5 mb-10 sm:mb-20">
        <img id="qrcode" src="{{qrCodeUrl}}" alt="QR Code" class="mx-auto bg-indigo-600 rounded-full p-5 max-w-[150px]">
        <a href="{{serverUrl}}" target="_blank" class="flex gap-2 place-items-center rounded-full bg-indigo-500 px-3.5 py-2 sm:px-2.5 sm:py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition-colors"><code>{{serverUrl}}</code></a>
    </div>
    <div class="flex items-center gap-5 justify-end mb-7">
        <a href="/download-zip" download class="inline-flex gap-3 place-items-center rounded-full bg-indigo-600 px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition-colors">
          Tout télécharger en ZIP
          <svg data-slot="icon" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="size-6">
  <path clip-rule="evenodd" fill-rule="evenodd" d="M3.5 2A1.5 1.5 0 0 0 2 3.5v9A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 12.5 4H9.621a1.5 1.5 0 0 1-1.06-.44L7.439 2.44A1.5 1.5 0 0 0 6.38 2H3.5Zm5.25 4.75a.75.75 0 0 0-1.5 0v2.69l-.72-.72a.75.75 0 0 0-1.06 1.06l2 2a.75.75 0 0 0 1.06 0l2-2a.75.75 0 1 0-1.06-1.06l-.72.72V6.75Z"></path>
</svg>
        </a>
    </div>